
on:
  push:
defaults:
  run:
    working-directory: ./backend/


jobs:
    test:
      name: jest in backend
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.15.x
      - run: |
              npm ci
              npm run test
    
    lint:
      name: lint in backend
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: |
              npm ci
              npm run lint
