
on:
  push:
defaults:
  run:
    working-directory: ./webapp/


jobs:
    test:
      name: jest in webapp
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: |
              npm ci
              npm run test:unit
    
    lint:
      name: lint in webapp
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: |
              npm ci
              npm run lint
